.a9s-osd-annotationlayer {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.a9s-annotation {
  stroke-width:1px;
  stroke:#fff;
  fill:transparent;

  rect {
    vector-effect:non-scaling-stroke;
  }

  rect {
    fill:transparent;
    stroke-width:1px;
    cursor:pointer;
  }

  rect.inner {
    stroke:#fff;
  }

  rect.inner:hover {
    stroke:#fff000;
  }

  rect.outer {
    stroke:#000;
    stroke-width:3px;
  }

}

